statusbarpanel
{
-moz-appearance: none !important;
border:0px none!important;
margin:0px 2.5px !important;
}

/*Use with ChromifoxExtreme Themes*/
/*#status-bar
{
padding-top:1px !important;
margin-bottom:2px !important;
}*/

/*Use with Camifox*/
/*#status-bar
{
padding-top:1px !important;
margin-bottom:2px !important;
}*/